* {
    box-sizing: border-box;
 }

body {
    margin: 0;
}

body.no-scroll {
    overflow: hidden;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

h1 {
    color: white;
}

img {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.art-slideshow{
    /* animation: moveArt 900s linear infinite; */
    /* overflow: auto; */
    -webkit-overflow-scrolling: touch;
}

.container {
    display: grid;
    grid-template-areas: 
    "a a b b c" 
    "d d d e e";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

@keyframes moveArt {
    100% {
        transform: translateY(-150%);
    }
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.nav-container {
    height: 160px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 24px;
    color: #f9f9f9;
    text-decoration: none;
}

.nav {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7; 
    border-radius: 64px;
    padding: 0 64px;
    font-family: var(--worksans-font);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} 

.logo-link {
    font-size: 48px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.logo-link a:hover {
    color: black;
    background-color: #f9f9f9; 
    border-radius: 64px;
    padding: 8px 8px; 
}

.nav-links {
    font-size: 16px !important;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-link a:hover {
    color: black;
    background-color: #f9f9f9; 
    border-radius: 64px;
    padding: 8px 8px; 
}

@media (max-width: 450px){
    .nav-container {
        margin: 16px 16px;
        height: 120px;
    }

    .logo-link {
        padding-left: 24px;
    }

    .contact-link {
        padding-left: 6em;
    }   
}

.audio-player button {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: black;
    opacity: .7;
    color: #f9f9f9;
    border: none;
    border-radius: 200px;
    padding: 24px 24px;
    font-size: 32px;
}

.audio-player button:hover {
    color: black;
    background-color: #f9f9f9;
    cursor: pointer;
}

.dropdown-menu-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    bottom: calc(120px / 2); /* offset height of the nav container */
    list-style: none;
    background-color: black;
    opacity: .9;
    padding: 16px;
    margin: 0;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    transition: transform 10s ease-in-out;
    transform: translateY(100%);
    font-family: var(--worksans-font);
    font-size: 16px;
}

.dropdown-menu.open {
    transform: translateY(0);
    width: 300px;
    color: #f9f9f9;
}

.dropdown-menu li{
    padding: 8px;
    color: #f9f9f9;
    border-radius: 24px;
}

.dropdown-menu li:hover {
    background-color: #d3d3d3;
    color: black;
}

.menu-link {
    font-size: 14px;
}


.submenu {
    margin: 0;
    padding: 8px 24px;
    list-style: none;
    color: black;
}

.submenu li {
    white-space: nowrap;
    color: black;
}

.submenu li:hover {
    background-color: black;
    opacity: .9;
    color: white;
}

.tooltip-container {
    position: absolute;
    top: 24px;
    right: 24px;
    color: white;
    font-family: var(--worksans-font);
    width: 200px;
}
  
.tooltip-trigger {
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    right: 120px;
    /* transform: translateX(-50%); */
    color: #fff;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1;
}
  
/* Case Study Stylings  */

.fullscreen-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    content: #f9f9f9;
}

.casestudy-body {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.show-content .casestudy-body {
    opacity: 1;
  }

.title {
    color: black;
    border-radius: 64px;
    font-family: var(--worksans-font);
    font-weight: 300;
    font-size: 40px;
    padding-top: 24px;
    padding-left: 32px;
    width: 75%;
    height: 100%;
}

.subheader {
    margin-top: -8px !important;
    margin-left: 64px;

    /* initial styles for gsap  */
    opacity: 0;
    transform: translateX(-25%);
}

/* Description Container */
.description-container {
    display: grid;
}

/* Card Stylings */

  .details {
    position: relative;
    width: 75%;
    height: 100%;
    text-align: center;
  }

  

.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 240px;
}


.details-header {
    display: flex;
    font-family: var(--worksans-font);
    font-weight: 400;
}

.details-content {
    text-align: left;
    font-family: var(--worksans-font);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 8px;
    color: grey;
}

.contribution-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wireframe-container {
    background-color: black;
    border-radius: 64px;
    margin: 64px 120px 64px 0px;
}

.wireframe-img {
    width: 300px !important;
    border-radius: 16px;
    opacity: 1;
    height: auto;
    margin: 24px 64px 24px 64px;
}

